:root{
    --c-base: #FFFFFFCF;
    --c-taskbar: beige;
    --c-menu: honeydew;
    --c-menu-1: antiquewhite;
    --c-menu-2: beige;
    --c-link: #0E73E5;
    --c-link-tra: #B7B0DFB9;
    --c-link-d: #164F96;
    --c-active: olive;
    --c-boxshadow: skyblue;
    --c-focus: dodgerblue;
    --c-warning :#F9DF82;
    --c-danger: #FF416C;
    --c-success: #27CE7F;
    --c-selection: #A1CDED;
    --c-text-menu: #191711;
    --c-text-main: #242322;
    --c-text-nav: black;
    --c-black-tra: #2423220F;
    --c-black-tra-1: #24232219;
    --c-black-tra-2: #24232223;
    --c-black-tra-3: #2423224A;
    --c-black-tra-4: #24232259;
    --c-black-tra-5: #2423226E;
    --c-black-tra-6: #2423228E;
    --c-black-tra-7: #242322A5;
    --c-1: #CEF6E3;
    --c-2: #17F18B;
    --c-3: #FFE8CF;
    --c-3-a: #FFECCC;
    --c-4: #FDFDC4;
    --c-4-a: #F4F3CC;
    --c-5: #CCFFEC;
    --c-5-a: #C9FCE9;
    --c-6: #FFD3D3;
    --c-6-a: #FFE4E4;
    --c-black: black;
    --c-grey--4: #191919;
    --c-grey--3: #233333;
    --c-grey--2: #444;
    --c-grey--1: dimgrey;
    --c-grey: grey;
    --c-grey-1: #989898;
    --c-grey-2: darkgrey;
    --c-grey-3: #AEAEAE;
    --c-grey-4: #BABABA;
    --c-grey-4-5: #CBCBCB;
    --c-grey-5: lightgrey;
    --c-grey-6: #DADADA;
    --c-grey-7: #EAEAEA;
    --c-grey-8: #EFEFEF;
    --c-overlay: #2228
}