.button{
    border-radius: .4rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: var(--c-grey--2);
    color: var(--c-base);
}
.button:hover{
    background-color: var(--c-grey--1);
}
.button:active{
    transition: background-color .05s ease;
    background-color: var(--c-grey--2-75);
}
.wrapperIn{
    display: flex;
    flex-flow: column nowrap;
    gap: .1rem;
    flex: auto;
}
.wrapperOut{
    display: flex;
    flex-flow: row nowrap;
    gap: .25rem;
}
.activeWrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: none;
}