.aboutWrapper{
    display: flex;
    flex-flow: column nowrap;
}
.aboutWrapper *{
    line-height: 1.8rem;
}
.author{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.authorImg{
    width: 1.5rem;
    padding: 0 .25rem;
}
.small, .small *{
    font-size: .9rem;
    line-height: 1.6rem;
}