.aboutWrapper{
    display: flex;
    flex-flow: column nowrap;
    overflow-y: overlay;
}
.aboutWrapper *{
    line-height: 1.8rem;
}
.author{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center; 
    margin: .5rem 0;
    cursor: pointer;
}
.authorImg{
    width: 1.5rem;
    padding: 0 .25rem;
}
.small, .small *{
    font-size: .9rem;
    line-height: 1.6rem;
}