.root{
    min-width: 3.05rem;
    width: 3.05rem;
    height: 1.7rem;
    background-color: var(--c-grey--2);
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--black-a7);
    place-self: flex-end;
    transition: background-color .15s ease;
}
.root[data-state="checked"]{
    background-color: var(--c-switch-on);
}
.thumb{
    display: block;
    width: 1.38rem;
    height: 1.38rem;
    background-color: var(--c-grey-1);
    border-radius: 12914rem;
    /*box-shadow: 0 2px 2px var(--black-a7);*/
    transition-property: transform, background-color;
    transition-duration: .1s;
    transition-timing-function: ease;
    transform: translateX(.15rem);
    will-change: transform;
}
.thumb[data-state="checked"]{
    transform: translateX(1.52rem);
    background-color: var(--c-grey-6);
}
.title{
    font-size: 1.2rem;
}
.description{
    font-size: .8rem;
}
.wrapperIn{
    display: flex;
    flex-flow: column nowrap;
    gap: .1rem;
    flex: auto;
}
.wrapperOut{
    display: flex;
    flex-flow: row nowrap;
    gap: .25rem;
    padding: .4rem .5rem;
    border-radius: .5rem;
}
.wrapperOut, .wrapperOut *{
    cursor: pointer;
}
.wrapperOut:hover{
    background-color: var(--c-grey--2-5);
}
.activeWrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: none;
}